a {
  color: inherit;
  text-decoration: none; 
}

body {
  font: normal 20px "PT Sans", Helvetica, Arial, sans-serif;
  color: #3f3f3f;
  background: #ffffff; 
}

body > header h1 {
  display: inline-block;
  width: 38%;
  font-size: 30px;
  color: #dd5f4f; 
}

body > header .actions a, .leaderboard a.title {
  -webkit-transition: color 200ms ease;
  -moz-transition: color 200ms ease;
  -o-transition: color 200ms ease; 
}

body > header .actions a:hover, .leaderboard a.title:hover {
  color: #dd5f4f; 
}

.flash {
  max-width: 960px;
  padding: 10px 20px;
  margin: 20px auto 1.5em auto;
  color: #3399cc;
  background: #CBE5F2; 
}

.leaderboard {
  text-align: center;
  margin: 20px;
}

.leaderboard .top-thumb {
  width: 16%;
  display: inline-block;
  height: 100px;
  vertical-align: middle;
  overflow: hidden;
}

.leaderboard .top-thumb img {
  width: 100%;
  display: inline-block;
}

.leaderboard a.title {
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  display: inline-block;
}

.single-image {
  text-align: center;
}

.top-images {
  text-align: center;
  max-width: 500px;
  margin: 5px auto;
}

.top-images a img {
  width: 100%;
  padding: 20px 0;
}

#matchup {
  height: 100%;
  max-height: 350px;
  text-align: center;
}

.matchup {
  width: 35%;
  display: inline-block;
  margin: 20px 30px;
}

.matchup p { text-align: center;}

.matchup form .vote, form .vote img {
  min-height: 300px;
  width: 100%
}

.matchup form .vote {
  height: 300px;
}

.matchup form button, .matchup {
  height: 100%;
  max-height: 350px;
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
}

