<div class='single-image'><img src='/uploads/<%= @image %>' /></div>
<%# content_for :leaderboard do %>
  <!--div class='leaderboard'>
    <a class='title' href='/images/top'>Leaderboard</a>
    
    <%# @top_images.each do |image| %>
      <span class='top-thumb'><a href='/images/<%#= image %>'><img src='/uploads/<%#= image %>' /></a></span>
    <%# end %>
  </div-->
<%# end %>