No matchups

<% content_for :leaderboard do %>
  <div class='leaderboard'>
    <a class='title' href='/contests/<%= @contest_id %>/images/top'>
      Leaderboard
    </a>

    <% @top_images.each do |image| %>
      <span class='top-thumb'><a href='/images/<%= image %>'><img src='/uploads/<%= image %>' /></a></span>
    <% end %>
  </div>
<% end %>

<% content_for :submission do %>
  <span class='submission'>
    <a href='/contests/<%= @contest_id %>/submit'>
      Submit image to this contest
    </a>
  </span>
<% end %>